main {
    margin: 80px auto 0 auto;
    color: #000;
    background: #fff;
    font-size: 1.3rem;
    line-height: 1.618;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
    max-width: 50rem;
    padding: 0 .5rem;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}
footer {
    font-size: 1.1rem;
    text-align: center;
    width: 100%}
h1, h2 {
    clear: both;
    font-weight: 700;
}
.disq {
    margin: auto;
    max-width: 50rem;
    padding: 0 .5rem;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}
h1 {
    font-size: 1.6em;
    color: #789;
}
h2 {
    font-size: 1.5em;
    color: #789;
}
textarea {
    width: 80%}
blockquote {
    margin-left: 2em;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: .4rem .8rem;
    border-left: .35rem solid green;
    color: #00f;
    font-style: italic;
}
pre {
    overflow: auto;
    padding: 20px;
    overflow: auto;
    max-height: 300px;
    background: #000;
    color: #fff;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background-color: #f76497;
    position: fixed;
    top: 0;
}
.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%}
.menu {
    width: 60%;
    height: 100%;
    float: right;
}
.menu ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
li a {
    width: 60%;
    height: inherit;
    color: #222;
    display: inline-block;
    padding: 0 40px;
}
li a:hover {
    background-color: #222;
    color: #fff;
}
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}
@media screen and (max-width:768px) {
    .menu {
    width: 100%;
    height: auto;
}
.menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .3s;
    -moz-transition: max-height .3s;
    -ms-transition: max-height .3s;
    -o-transition: max-height .3s;
    transition: max-height .3s;
}
li a {
    text-align: left;
    width: 100%;
    height: auto;
    background-color: #f773a1;
    padding: 10px 0 10px 5%}
.menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 60px;
}
#menuToggle:checked~ul {
    max-height: 350px;
}
.menu-icon i {
    font-size: 1.7em;
}
input, select, textarea {
    width: 100%}
}
